<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Sitecore.ContentSearch" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.ContentSearch.Linq" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.ContentSearch.Linq.Solr" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.ContentSearch.SolrNetExtension" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.ContentSearch.SolrProvider" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="9.0.1" targetFramework="net462" />
  <package id="SC.SolrNet" version="9.0.1" targetFramework="net462" />
</packages>