<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <initialize>
        <processor patch:instead="*[@type='Sitecore.ContentSearch.SolrProvider.Pipelines.Loader.InitializeSolrProvider, Sitecore.ContentSearch.SolrProvider']" type="Sitecore.Support.ContentSearch.SolrProvider.Pipelines.Loader.InitializeSolrProvider, Sitecore.Support.149252"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>