<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:instead="*[@type='Sitecore.ContentSearch.SolrProvider.Pipelines.Loader.InitializeSolrProvider, Sitecore.ContentSearch.SolrProvider']" type="Sitecore.Support.ContentSearch.SolrProvider.Pipelines.Loader.InitializeSolrProvider, Sitecore.Support.149252"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>